<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="value">
                {{article.votes}}
            </div>
            <div class="label">
                Points
            </div>
        </div>
        
        <div class="col-md-6">
            <a href="{{article.link}}">{{article.title}}</a>
            <div>{{article.domain()}}</div>
            <ul>
                <li class="item">
                    <a href="" (click)="voteUp()">
                        <img src="../article/icons/arrow-up-circle.svg" alt="Arrow up icon here">
                    </a>
                </li>
                <li class="item">
                    <a href="" (click)="voteDown()">
                        <img src="../article/icons/arrow-down-circle.svg" alt="Arrow down icon here ">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
