<form>
  <div class="container pt-5">
    <h3>Add a link</h3>
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" class="form-control form-control-lg" id="title" #newtitle>
      </div>
      <div class="form-group">
        <label for="link">Link: </label>
        <input type="text" class="form-control form-control-lg" id="link" #newlink>
      </div>
      <button (click)="addArticle(newtitle,newlink)" class="btn btn-primary mt-2 ">Submit link</button>
    </div>
  </div>
</form>